<div class="centre">
  <p class="centertest">domain-administration works!</p>
  <table class="table">
    <thead>
      <tr>
        <th>Domain ID</th>
        <th>Name</th>
        <th>Logo</th>
        <th>Edition</th>
        <th>Is SSO Enabled</th>
        <th>Comment</th>
        <th>Parent Company</th>
        <th>Created Date</th>
        <th>Created By</th>
        <th>Modified Date</th>
        <th>Modified By</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let domain of domains">
        <td>{{ domain.domainId }}</td>
        <td>{{ domain.name }}</td>
        <td><img src="" alt="Logo" /></td>
        <td>{{ domain.edition }}</td>
        <td>{{ domain.isSsoEnabled }}</td>
        <td>{{ domain.comment }}</td>
        <td>{{ domain.parentCompany }}</td>
        <td>{{ domain.createdDate | date }}</td>
        <td>{{ domain.createdBy }}</td>
        <td>{{ domain.modifiedDate | date }}</td>
        <td>{{ domain.modifiedBy }}</td>
      </tr>
    </tbody>
  </table>
  <div class="add-domain">
    <h2>Ajouter un domaine</h2>
    <div>
      <label for="domainName">Nom du domaine:</label>
      <input type="text" id="domainName" [(ngModel)]="domainName" />
    </div>

    <div>
      <label for="createdBy">Créé par:</label>
      <input type="text" id="createdBy" [(ngModel)]="createdBy" />
    </div>

    <div>
      <label for="edition">Édition:</label>
      <input type="text" id="edition" [(ngModel)]="edition" />
    </div>

    <div class="btn--center">
      <button class="btn btn-primary btn-lg" (click)="addDomain()">
        Valider l'ajout
      </button>
    </div>
  </div>
</div>
