<!-- FILEPATH: /home/walter/Desktop/MASTER/PISTL/PISTL/Project/frontend/src/app/Domain/domain-by-sys-admin/domain-by-sys-admin.component.html -->
<!-- This HTML code represents the template for the "Domain by SysAdmin" component. 
  It displays a table with checkboxes for different domains (Dev, Preprod, Prod, Test, ProdCopy, Staging) 
  and allows the user to select/unselect them. The component also includes a dropdown to select a user and buttons to add, 
  save, or cancel changes. The table is sortable and paginated using Angular Material components. 
-->
<div class="container">
  <h1 class="title">Domain by SysAdmin</h1>
</div>
<mat-card class="table-container">
  <div class="dropdown-container">
    <mat-form-field appearance="fill" style="width: 500px">
      <mat-label>Select user</mat-label>
      <mat-select
        [(value)]="selected_login"
        (selectionChange)="onChange($event)"
      >
        <mat-option
          *ngFor="let login of logins | keyvalue"
          [value]="login.value"
        >
          <span>{{ login.value.email }} [{{ login.value.loginId }}] </span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div style="margin: 0%">
    <mat-card-content>
      <table matSort mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef style="width: 20rem;">
            <div *ngIf="show_add">
              <button
                mat-raised-button
                color="primary"
                (click)="addDomain(element)"
                style="margin: 8px 8px 8px 0"
              >
                Add
              </button>
            </div>
            <div *ngIf="!show_add">
              <button
                mat-raised-button
                class="color-button"
                (click)="saveDomain()"
                style="margin: 8px 8px 8px 0"
              >
                Save
              </button>
              <button
                mat-raised-button
                color="primary"
                (click)="cancelDomain()"
                style="margin: 8px 8px 8px 0"
              >
                Cancel
              </button>
            </div>
          </th>
          <td mat-cell *matCellDef="let element">{{ element[1] }}</td>
        </ng-container>

        <ng-container matColumnDef="dev">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-checkbox
            [(ngModel)]="all_checked[1]"
            (change)="all_checked[1] ? checkAll(1) : uncheckAll(1)"
            [indeterminate]="one_checked[1] && !all_checked[1]"
            color="primary"
          ></mat-checkbox>
            <div
              style="
                margin: 5px;
                background-color: #f5a82a;
                color: white;
                padding: 3px;
              "
            >
              Dev
            </div>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center">
            <ng-container *ngIf="element[2]">
              <ng-container *ngIf="isModified(element[0], 1)">
                <mat-button color="primary" (click)="check(element[0], 1)">
                  <mat-icon>calendar_month</mat-icon>
                </mat-button>
              </ng-container>
              <input
                type="checkbox"
                [(ngModel)]="element[2]"
                (change)="uncheck(element[0], 1)"
              />
            </ng-container>
            <ng-container *ngIf="!element[2]">
              <input
                type="checkbox"
                [(ngModel)]="element[2]"
                (change)="check(element[0], 1)"
              />
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="preprod">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-checkbox
              [(ngModel)]="all_checked[2]"
              (change)="all_checked[2] ? checkAll(2) : uncheckAll(2)"
              [indeterminate]="one_checked[2] && !all_checked[2]"
              color="primary"
            ></mat-checkbox>
            <div
              style="
                margin: 5px;
                background-color: #c125f2;
                color: white;
                padding: 3px;
              "
            >
              Preprod
            </div>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center">
            <ng-container *ngIf="element[3]">
              <ng-container *ngIf="isModified(element[0], 2)">
                <mat-button color="primary" (click)="check(element[0], 2)">
                  <mat-icon>calendar_month</mat-icon>
                </mat-button>
              </ng-container>
              <input
                type="checkbox"
                [(ngModel)]="element[3]"
                (change)="uncheck(element[0], 2)"
              />
            </ng-container>
            <ng-container *ngIf="!element[3]">
              <input
                type="checkbox"
                [(ngModel)]="element[3]"
                (change)="check(element[0], 2)"
              />
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="prod">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-checkbox
              [(ngModel)]="all_checked[3]"
              (change)="all_checked[3] ? checkAll(3) : uncheckAll(3)"
              [indeterminate]="one_checked[3] && !all_checked[3]"
              color="primary"
            ></mat-checkbox>
            <div
              style="
                margin: 5px;
                background-color: #4557a2;
                color: white;
                padding: 3px;
              "
            >
              Prod
            </div>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center">
            <ng-container *ngIf="element[4]">
              <ng-container *ngIf="isModified(element[0], 3)">
                <mat-button color="primary" (click)="check(element[0], 3)">
                  <mat-icon>calendar_month</mat-icon>
                </mat-button>
              </ng-container>
              <input
                type="checkbox"
                [(ngModel)]="element[4]"
                (change)="uncheck(element[0], 3)"
              />
            </ng-container>
            <ng-container *ngIf="!element[4]">
              <input
                type="checkbox"
                [(ngModel)]="element[4]"
                (change)="check(element[0], 3)"
              />
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="test">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-checkbox
              [(ngModel)]="all_checked[4]"
              (change)="all_checked[4] ? checkAll(4) : uncheckAll(4)"
              [indeterminate]="one_checked[4] && !all_checked[4]"
              color="primary"
            ></mat-checkbox>
            <div
              style="
                margin: 5px;
                background-color: #50c63e;
                color: white;
                padding: 3px;
              "
            >
              Test
            </div>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center">
            <ng-container *ngIf="element[5]">
              <ng-container *ngIf="isModified(element[0], 4)">
                <mat-button color="primary" (click)="check(element[0], 4)">
                  <mat-icon>calendar_month</mat-icon>
                </mat-button>
              </ng-container>
              <input
                type="checkbox"
                [(ngModel)]="element[5]"
                (change)="uncheck(element[0], 4)"
              />
            </ng-container>
            <ng-container *ngIf="!element[5]">
              <input
                type="checkbox"
                [(ngModel)]="element[5]"
                (change)="check(element[0], 4)"
              />
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="prodCopy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-checkbox
              [(ngModel)]="all_checked[5]"
              (change)="all_checked[5] ? checkAll(5) : uncheckAll(5)"
              [indeterminate]="one_checked[5] && !all_checked[5]"
              color="primary"
            ></mat-checkbox>
            <div
              style="
                margin: 5px;
                background-color: #956248;
                color: white;
                padding: 3px;
              "
            >
              ProdCopy
            </div>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center">
            <ng-container *ngIf="element[6]">
              <ng-container *ngIf="isModified(element[0], 5)">
                <mat-button color="primary" (click)="check(element[0], 5)">
                  <mat-icon>calendar_month</mat-icon>
                </mat-button>
              </ng-container>
              <input
                type="checkbox"
                [(ngModel)]="element[6]"
                (change)="uncheck(element[0], 5)"
              />
            </ng-container>
            <ng-container *ngIf="!element[6]">
              <input
                type="checkbox"
                [(ngModel)]="element[6]"
                (change)="check(element[0], 5)"
              />
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="staging">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-checkbox
              [(ngModel)]="all_checked[6]"
              (change)="all_checked[6] ? checkAll(6) : uncheckAll(6)"
              [indeterminate]="one_checked[6] && !all_checked[6]"
              color="primary"
            ></mat-checkbox>
            <div
              style="
                margin: 5px;
                background-color: #f5f334;
                color: white;
                padding: 3px;
              "
            >
              Staging
            </div>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center">
            <ng-container *ngIf="element[7]">
              <ng-container *ngIf="isModified(element[0], 6)">
                <mat-button color="primary" (click)="check(element[0], 6)">
                  <mat-icon>calendar_month</mat-icon>
                </mat-button>
              </ng-container>
              <input
                type="checkbox"
                [(ngModel)]="element[7]"
                (change)="uncheck(element[0], 6)"
              />
            </ng-container>
            <ng-container *ngIf="!element[7]">
              <input
                type="checkbox"
                [(ngModel)]="element[7]"
                (change)="check(element[0], 6)"
              />
            </ng-container>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card-content>
    <br />
    <mat-card-footer>
      <mat-paginator
        [pageSizeOptions]="[5, 10]"
        showFirstLastButtons
      ></mat-paginator>
    </mat-card-footer>
  </div>
</mat-card>
