import { ComponentFixture, TestBed } from '@angular/core/testing';
import { SysAdminByDomainComponent } from './sys-admin-by-domain.component';

describe('SysAdminByDomainComponent', () => {
  let component: SysAdminByDomainComponent;
  let fixture: ComponentFixture<SysAdminByDomainComponent>;

  beforeEach(async () => {
    await TestBed.configureTestingModule({
      declarations: [SysAdminByDomainComponent]
    }).compileComponents();
  });

  beforeEach(() => {
    fixture = TestBed.createComponent(SysAdminByDomainComponent);
    component = fixture.componentInstance;
    fixture.detectChanges();
  });

  it('should change sysAdmin value when checkbox is checked', () => {
    const user = {
      value: {
        environment: 1,
        sysAdmin: false
      }
    };
    const env = {
      value: {
        environment: 1
      }
    };

    component.onCheckboxChange(user.value, env.value);
    expect(user.value.sysAdmin).toBe(true);
  });
});