/***********************************************************************************/
/**************************** FORM *************************************************/
/***********************************************************************************/

.btn--center {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

/***********************************************************************************/
/***********************************************************************************/
/***********************************************************************************/
