<div class="container--2">
  <form class="form" (ngSubmit)="connectDB()" #myForm="ngForm">
    <header>
      <a href="#">
        <picture>
          <img
            src="../assets/logo.png"
            class="logo-first"
            alt="Logo DAT UpClear"
          />
        </picture>
      </a>
    </header>
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
        required
        [(ngModel)]="email"
        name="email"
      />
      <label for="floatingInput">Email address</label>
    </div>

    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        required
        [(ngModel)]="motDePasse"
        name="motDePasse"
      />
      <label for="floatingPassword">Password</label>
    </div>

    <div class="btn--center">
      <input type="submit" value="Log in" class="btn btn-primary btn-lg" />
    </div>

    <ng-container *ngIf="showErrorMessage != ''">
      <div class="alert alert-danger" role="alert">
        {{ showErrorMessage }}
      </div>
    </ng-container>
  </form>
</div>
