/***********************************************************************************/
/***********************************************************************************/
/***********************************************************************************/

@import "@angular/material/prebuilt-themes/indigo-pink.css";

.btn--center {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.login--header {
  background-color: #f0f0f0;
}

.mat-mdc-raised-button.color-button {
  background-color: #3d59a7;
  color: #fff;
  font-size: 1.2rem;
}

/***********************************************************************************/
/***********************************************************************************/
/***********************************************************************************/
