/**********************************************************************/
/**********************************************************************/
/**********************************************************************/

.title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #3d59a7;
}

.btn {
  margin: 8px 8px 8px 0;
  font-weight: 600;
}

.green-text {
  color: green;
  font-size: 3rem;
}

.red-text {
  color: red;
  font-size: 3rem;
}

/**********************************************************************/
/**********************************************************************/
/**********************************************************************/
