/**********************************************************************/
/**********************************************************************/
/**********************************************************************/

.title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #3d59a7;
}

.btn {
  margin: 8px 8px 8px 0;
  font-weight: 600;
}

.green-text {
  color: green;
  font-size: 3rem;
}

.red-text {
  color: red;
  font-size: 3rem;
}

.container {
  margin: 0 0 0 2rem;
}

.table {
  width: 35%;
}

.listes {
  display: flex;
}

/**********************************************************************/
/************************** CREATE NEW FORM ***************************/
/**********************************************************************/

.formCreate {
  margin-left: 10rem;
}

.mat-mdc-raised-button.color-button {
  background-color: #37b24d;
  color: #fff;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.example-form {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.example-form {
  width: 110%;
}

/**********************************************************************/
/**********************************************************************/
/**********************************************************************/
