<div class="centre">
  <div class="dropdown-container">
    
    <div style="margin: 0%;">
      <mat-form-field appearance="fill">
        <mat-label>Select domain</mat-label>
        <mat-select [(value)]="selectedDomain" (selectionChange)="onChange($event)">
          <mat-option *ngFor="let domain of domains | keyvalue" [value]="domain.value">
            {{ domain.value.domainId }} - {{ domain.value.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>User Email</th>
          <th>
            <!-- <input type="checkbox" [checked]="allChecked(1)" (change)="checkAll(1)"> -->  
            Dev
          </th>
          <th>Preprod</th>
          <th>Prod</th>
          <th>Test</th>
          <th>ProdCopy</th>
          <th>Staging</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="selectedDomain">
          <tr *ngFor="let login of logins_email | keyvalue">
            <ng-container *ngFor="let user of login_users | keyvalue">
              <ng-container *ngIf="user.value[0] === login.value && user.value[2][0].domainId === selectedDomain.domainId">
                <td>{{user.value[0]}}</td>
                <td *ngFor="let env of [1,2,3,4,5,6]">
                  <p>{{env}} - {{user.value[1][env]}}</p>
                  <input type="checkbox" [checked]="user.value[1][env]" (change)="onAddedToEnv(user.value[2][env-1], env)">
                </td>
              </ng-container>
            </ng-container>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
