<div class="centre">
  <div class="dropdown-container">
    <label for="domainDropdown">Sélectionner un domaine :</label>
    <select id="domainDropdown" [(ngModel)]="selectedDomain" (change)="onSelect(selectedDomain)">
      <option *ngFor="let domain of domains | keyvalue" [ngValue]="domain.value">
        {{ domain.value.domainId }} - {{ domain.value.name }}
      </option>
    </select>
  </div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>User Email</th>
          <th>Dev</th>
          <th>Preprod</th>
          <th>Prod</th>
          <th>Test</th>
          <th>ProdCopy</th>
          <th>Staging</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="selectedDomain">
          <tr *ngFor="let login of logins | keyvalue">
            <ng-container *ngFor="let user of users | keyvalue">
              <ng-container *ngIf="user.value.domainId === selectedDomain.domainId && user.value.loginId === login.value.loginId">
                <td>{{login.value.email}}</td>
                <ng-container *ngFor="let env of [1,2,3,4,5,6]">
                  <td>
                      <p>{{user.value.loginId}} | {{user.value.environment}} | {{user.value.sysAdmin}}</p>
                      <input type="checkbox" [(ngModel)]="user.value.environment === env && user.value.sysAdmin" (change)="onAddedToEnv(user.value, env)">
                  </td>
                </ng-container>
              </ng-container>
            </ng-container>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
