<div class="container--2">
  <form class="form" (ngSubmit)="testCode2FA()" #myForm="ngForm">
    <header class="fa2-header">
      <a href="#">
        <picture>
          <img
            src="../assets/logo.png"
            class="logo-first"
            alt="Logo DAT UpClear"
          />
        </picture>
      </a>
    </header>
    <div class="form-floating mb-3">
      <input
        type="text"
        inputmode="numeric"
        class="form-control"
        id="floatingInput"
        placeholder=""
        required
        [(ngModel)]="code"
        name="code"
      />
      <label for="floatingInput">Code</label>
    </div>

    <div class="btn--center">
      <button mat-raised-button class="color-button-confirm" type="submit">
        Log in
      </button>

      <button mat-raised-button class="color-button-cancel" (click)="cancel()">
        Cancel
      </button>
    </div>

    <ng-container *ngIf="showError">
      <div class="alert alert-danger" role="alert">Incorrect code!</div>
    </ng-container>
  </form>
</div>
