/***********************************************************************************/
/**************************** FORM *************************************************/
/***********************************************************************************/

.btn--center {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1.5rem;
}

.btn-secondary {
  background-color: #c61236;
}

.btn {
  padding: 0.5rem 1rem;
}

/***********************************************************************************/
/***********************************************************************************/
/***********************************************************************************/
