/***********************************************************************************/
/***********************************************************************************/
/***********************************************************************************/
.btn--added2FA {
  padding: 1rem 2rem;
}

.container--2FA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  font-size: 2rem;
}

img {
  width: 20rem;
}
/***********************************************************************************/
/***********************************************************************************/
/***********************************************************************************/
