@import "@angular/material/prebuilt-themes/indigo-pink.css";

/**********************************************************************/
/**********************************************************************/
/**********************************************************************/

.information-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;

  font-size: 1.6rem;
  font-weight: 700;
}

.buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.password-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.btn--masked {
  margin-bottom: 1.5rem;
}

/**********************************************************************/
/**********************************************************************/
/**********************************************************************/
