/*************************************************************************************************/
/************************************** GENERAL **************************************************/
/*************************************************************************************************/

/** Colors */
/* Default color */
#3D59A7
/* Tints */
#c5cde5

/* Background */
#F0F0F0

/* Success */
#5CB85C

/* Warning */
#F0AD4E

/* Danger */
#D9534F

/* Info */
#00A2E8

/* Environments */
/* Dev */
#FF4500

/* Test */
#FFA500

/* Staging */
#CC00FF

/* Prod Copy */
#A0522D

/* Simu */
#00D13A

/* Simu Migration  */
#6AA84F

/* Prod Migration */
#000000

/* Prod */
#FFFFFF

/* Text */
/*************************************************************************************************/
/*************************************************************************************************/
/*************************************************************************************************/

* {
  padding: 0;
  margin: 0;
  /* largeur et hauteur de l'élément incluent le contenu, la bordure et le padding */
  box-sizing: border-box;
}

html {
  /* Percentage of user's browser font-size setting (10px / 16px = 0.625) */
  font-size: 62.5%;
  overflow-x: hidden; /* cacher tous les elements qui debordent sur x*/
  /* scroll-behavior: smooth; fonctionne que sur chrome et firefox (pas sur safari et edge) */
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden; /* cacher tous les elements qui debordent sur x*/
}
/* 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

@import "@angular/material/prebuilt-themes/indigo-pink.css";

/*************************************************************************************************/
/*************************************************************************************************/
/*************************************************************************************************/

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
