<div class="container">
  <ng-container *ngIf="showForm; else formHidden">
    <div class="container--2">
      <form class="form" (ngSubmit)="connectDB()" #myForm="ngForm">
        <header>
          <a href="#">
            <picture>
              <img
                src="../assets/logo.png"
                class="logo-first"
                alt="Logo DAT UpClear"
              />
            </picture>
          </a>
        </header>
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
            required
            [(ngModel)]="email"
            name="email"
          />
          <label for="floatingInput">Email address</label>
        </div>

        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
            required
            [(ngModel)]="motDePasse"
            name="motDePasse"
          />
          <label for="floatingPassword">Password</label>
        </div>

        <div class="btn--center">
          <input type="submit" value="Log in" class="btn btn-primary btn-lg" />
        </div>

        <ng-container *ngIf="showError">
          <div class="alert alert-danger" role="alert">
            Incorrect email or password!
          </div>
        </ng-container>
      </form>
    </div>
  </ng-container>
  <ng-template #formHidden>
    <header>
      <a href="#">
        <picture>
          <img src="../assets/logo.png" class="logo" alt="Logo DAT UpClear" />
        </picture>
      </a>
      <nav class="main-nav">
        <ul class="main-nav-list">
          <li class="list">
            <div ngbDropdown class="d-inline-block dropdown">
              <a class="btn--1" id="dropdownBasic1" ngbDropdownToggle>
                Domain
              </a>
              <div
                ngbDropdownMenu
                aria-labelledby="dropdownBasic1"
                class="dropdown-menu"
              >
                <a ngbDropdownItem class="btn--2">Domain Administration</a>
                <a ngbDropdownItem class="btn--2">SysAdmin by Domain</a>
                <a ngbDropdownItem class="btn--2">Domain by SysAdmin</a>
              </div>
            </div>
          </li>
          <li>
            <div ngbDropdown class="d-inline-block dropdown">
              <a class="btn--1" id="dropdownBasic1" ngbDropdownToggle>
                Infrastructure
              </a>
              <div
                ngbDropdownMenu
                aria-labelledby="dropdownBasic1"
                class="dropdown-menu"
              >
                <a ngbDropdownItem class="btn--2">Database</a>
                <a ngbDropdownItem class="btn--2">Server</a>
                <a ngbDropdownItem class="btn--2">Server Parameter</a>
              </div>
            </div>
          </li>
          <li>
            <a class="btn--1" href="#">Users</a>
          </li>
          <li>
            <a class="btn--1" href="#">Reports</a>
          </li>
          <li>
            <p class="text nav-end">
              Hello <strong>{{ email }}</strong
              >!
            </p>
          </li>
          <li>
            <a href="#" class="btn--log-off nav-end--2" (click)="deconnexion()"
              >Log off</a
            >
          </li>
        </ul>
      </nav>
    </header>
  </ng-template>
</div>
