<div class="modal" *ngIf="showModal">
    <div *ngIf="databaseId">
        <div class="modal-content">
            <div class="buttons">

                <span class="close-button" (click)="closeModal()">&times;</span>
                <button class="edit-button" (click)="editDatabase()">Edit</button>
                <button class="copy-button" (click)="copyDatabase()">Copy</button>
                <button class="delete-button" (click)="deleteDatabase()">Delete</button>
            </div>
            <div *ngIf="databaseDetails  && !editingMode ">
                <h2>Database Detail</h2>
                <p><strong>ID:</strong> {{ databaseDetails.databaseId }}</p>
                <p><strong>Name:</strong> {{ databaseDetails.name }}</p>
                <p><strong>Server ID:</strong> {{ databaseDetails.serverId }}</p>
                <p><strong>userName:</strong> {{ databaseDetails.userName }}</p>
                <p><strong>createdDate ID:</strong> {{ databaseDetails.createdDate | date }}</p>
                <p><strong>createdBy ID:</strong> {{ databaseDetails.createdBy }}</p>
                <p><strong>modifiedDate ID:</strong> {{ databaseDetails.modifiedDate | date }}</p>
                <p><strong>modifiedBy ID:</strong> {{ databaseDetails.modifiedBy }}</p>  
            </div> 

            <div *ngIf="editingMode">
                <h2>Edit Database Details</h2>
                <div class="edit-field">
                  <label for="databaseName">Name:</label>
                  <input type="text" id="Name" [(ngModel)]="databaseDetails.name">
                </div>
                <div class="edit-field">
                    <label for="databaseName">Context:</label>
                    <input type="text" id="Context" [(ngModel)]="databaseDetails.context" >
                  </div>
                <div class="edit-field">
                  <label for="databaseName">modifiedBy:</label>
                  <input type="text" id="modifiedBy" [(ngModel)]="databaseDetails.modifiedBy">
                </div>

                <div class="edit-field">
                    <label for="serverSelect">Server:</label>
                    <select id="serverSelect" [(ngModel)]="ServerSelected">
                      <option *ngFor="let s of server" [ngValue]="s">{{ s.name }}</option>
                    </select>
                  </div>
                <button class="edit-confirm-button" (click)="editDatabaseDetails()">Confirm</button>
                <button class="edit-quit-button" (click)="quitEditing()">Quit</button>
            </div>
        </div>
    </div>
</div>