<div class="container">
  <h1 class="title">Database</h1>
  <button
    mat-raised-button
    class="btn color-button--default"
    (click)="showFormCreateDatabase()"
    name="new"
  >
    New
  </button>
  <button
    mat-raised-button
    (click)="editEnable()"
    [disabled]="!isClicked"
    class="btn color-button--default"
  >
    Edit
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="openDeleteConfirmation()"
    [disabled]="!isClicked"
    class="btn color-button--default"
  >
    Delete
  </button>
  <button
    mat-raised-button
    (click)="openCopyConfirmation()"
    [disabled]="!isClicked"
    class="btn color-button--default"
  >
    Copy
  </button>

  <div class="listes">
    <div class="table">
      <mat-card-content>
        <table matSort mat-table [dataSource]="dataSource" #tableElement>
          <ng-container matColumnDef="databaseId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td
              mat-cell
              *matCellDef="let database"
              (click)="getDatabase(database)"
              (mouseenter)="onMouseEnter(database.databaseId)"
              (mouseleave)="onMouseLeave()"
              [ngClass]="{
                'database--selected' : (database.databaseId == databaseSelected.databaseId),
                '' : !(database.databaseId == databaseSelected.databaseId),
                hovered: (database.databaseId == databaseHovered) || (database.databaseId == databaseClicked) ? isHovered : false,
              }"
            >
              {{ database.databaseId }}
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td
              mat-cell
              *matCellDef="let database"
              (click)="getDatabase(database)"
              (mouseenter)="onMouseEnter(database.databaseId)"
              (mouseleave)="onMouseLeave()"
              [ngClass]="{
                'database--selected' : (database.name == databaseSelected.name),
                '' : !(database.name == databaseSelected.name),
                hovered: (database.databaseId == databaseHovered) || (database.databaseId == databaseClicked) ? isHovered : false,
              }"
            >
              {{ database.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>User Name</th>
            <td
              mat-cell
              *matCellDef="let database"
              (click)="getDatabase(database)"
              (mouseenter)="onMouseEnter(database.databaseId)"
              (mouseleave)="onMouseLeave()"
              [ngClass]="{
                'database--selected' : (database.userName == databaseSelected.userName),
                '' : !(database.userName == databaseSelected.userName),
                hovered: (database.databaseId == databaseHovered) || (database.databaseId == databaseClicked) ? isHovered : false,
              }"
            >
              {{ database.userName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="context">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Context</th>
            <td
              mat-cell
              *matCellDef="let database"
              (click)="getDatabase(database)"
              (mouseenter)="onMouseEnter(database.databaseId)"
              (mouseleave)="onMouseLeave()"
              [ngClass]="{
                'database--selected' : (database.context == databaseSelected.context),
                '' : !(database.context == databaseSelected.context),
                hovered: (database.databaseId == databaseHovered) || (database.databaseId == databaseClicked) ? isHovered : false,
              }"
            >
              <span
                [ngStyle]="{
                  'background-color':
                    database.context == '1'
                      ? '#f5a82a'
                      : database.context == '2'
                      ? '#c125f2'
                      : database.context == '3'
                      ? '#4557a2'
                      : database.context == '4'
                      ? '#50c63e'
                      : database.context == '5'
                      ? '#956248'
                      : database.context == '6'
                      ? '#f5f334'
                      : '',
                  color: database.context == '6' ? '#000' : '#FFFFFF',
                  padding: '0.75rem',
                  fontWeight: '700',
                }"
              >
                {{
                  database.context == "1"
                    ? "Dev"
                    : database.context == "2"
                    ? "Preprod"
                    : database.context == "3"
                    ? "Prod"
                    : database.context == "4"
                    ? "Test"
                    : database.context == "5"
                    ? "ProdCopy"
                    : database.context == "6"
                    ? "Staging"
                    : ""
                }}
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="serverId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Server ID</th>
            <td
              mat-cell
              *matCellDef="let database"
              (click)="getDatabase(database)"
              (mouseenter)="onMouseEnter(database.databaseId)"
              (mouseleave)="onMouseLeave()"
              [ngClass]="{
                'database--selected' : (database.serverId == databaseSelected.serverId),
                '' : !(database.serverId == databaseSelected.serverId),
                hovered: (database.databaseId == databaseHovered) || (database.databaseId == databaseClicked) ? isHovered : false,
              }"
            >
              {{ database.serverId }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let user; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 10]"
          showFirstLastButtons
          [length]="dataSource && dataSource.data.length"
        ></mat-paginator>
      </mat-card-content>
    </div>

    <!-- Create Database -->
    <ng-container *ngIf="showFormCreate">
      <div class="formCreate">
        <form class="form--databases">
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="Name"
              required
              [(ngModel)]="formDataCreate.Name"
              name="name"
            />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>UserName</mat-label>
            <input
              matInput
              placeholder="UserName"
              required
              [(ngModel)]="formDataCreate.UserName"
              name="userName"
            />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Server ID</mat-label>
            <mat-select
              required
              [(ngModel)]="formDataCreate.Server"
              name="Server"
            >
              <mat-option *ngFor="let s of server" [value]="s">
                {{ s.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Context</mat-label>
            <mat-select
              required
              [(ngModel)]="formDataCreate.Context"
              name="Context"
            >
              <mat-option value="1">
                <span
                  style="
                    background-color: #f5a82a;
                    color: #ffffff;
                    padding: 0.75rem;
                    font-weight: 700;
                  "
                  >Dev</span
                >
              </mat-option>
              <mat-option value="2">
                <span
                  style="
                    background-color: #c125f2;
                    color: #ffffff;
                    padding: 0.75rem;
                    font-weight: 700;
                  "
                  >Preprod</span
                >
              </mat-option>
              <mat-option value="3">
                <span
                  style="
                    background-color: #4557a2;
                    color: #ffffff;
                    padding: 0.75rem;
                    font-weight: 700;
                  "
                  >Prod</span
                >
              </mat-option>
              <mat-option value="4">
                <span
                  style="
                    background-color: #50c63e;
                    color: #ffffff;
                    padding: 0.75rem;
                    font-weight: 700;
                  "
                  >Test</span
                >
              </mat-option>
              <mat-option value="5">
                <span
                  style="
                    background-color: #956248;
                    color: #ffffff;
                    padding: 0.75rem;
                    font-weight: 700;
                  "
                  >ProdCopy</span
                >
              </mat-option>
              <mat-option value="6">
                <span
                  style="
                    background-color: #f5f334;
                    color: #000;
                    padding: 0.75rem;
                    font-weight: 700;
                  "
                  >Staging</span
                >
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input
              matInput
              placeholder="Password"
              required
              [(ngModel)]="formDataCreate.Password"
              name="password"
              [type]="showPassword ? 'text' : 'password'"
            />
            <button mat-icon-button matSuffix (click)="togglePassword()">
              <mat-icon>{{
                showPassword ? "visibility" : "visibility_off"
              }}</mat-icon>
            </button>
          </mat-form-field>

          <br />
          <div class="buttons--container">
            <button
              mat-raised-button
              class="color-button--save margin--right"
              (click)="newDatabaseFormDatabase()"
              name="save"
            >
              Save
            </button>
            <button
              mat-raised-button
              color="primary"
              class="btn color-button--default"
              (click)="showFormCreateDatabase()"
            >
              Cancel
            </button>
          </div>

          <!-- Inform message -->
          <div class="error--info">
            <ng-container *ngIf="showInform">
              <div class="alert alert-danger" role="alert">
                {{ popupMessage }}
              </div>
            </ng-container>
          </div>
        </form>
      </div>
    </ng-container>

    <!-------------------------------- -->
    <!-- Access an existing Sys Admin -->
    <!-- Edit an existing Sys Admin   -->
    <!-------------------------------- -->
    <ng-container *ngIf="databaseSelected.DatabaseId">
      <div class="formCreate">
        <form class="form--databases">
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="Name"
              [(ngModel)]="databaseSelected.Name"
              name="Name"
              [disabled]="!editEnabled"
            />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>UserName</mat-label>
            <input
              matInput
              placeholder="UserName"
              [(ngModel)]="databaseSelected.UserName"
              name="UserName"
              [disabled]="!editEnabled"
            />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Server ID</mat-label>
            <mat-select
              [(ngModel)]="databaseSelected.ServerId"
              name="Server"
              [disabled]="!editEnabled"
            >
              <mat-option *ngFor="let s of server" [value]="s.serverId">
                {{ s.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Context </mat-label>
            <mat-select
              name="Context"
              [(ngModel)]="databaseSelected && databaseSelected.Context"
              [disabled]="!editEnabled"
            >
              <mat-option
                [value]="databaseSelected && databaseSelected.Context"
                *ngIf="databaseSelected && databaseSelected.Context === 1"
              >
                <span
                  style="
                    background-color: #f5a82a;
                    color: #ffffff;
                    padding: 0.75rem;
                    font-weight: 700;
                  "
                  >Dev</span
                >
              </mat-option>
              <mat-option
                [value]="databaseSelected && databaseSelected.Context"
                *ngIf="databaseSelected && databaseSelected.Context === 2"
              >
                <span
                  style="
                    background-color: #c125f2;
                    color: #ffffff;
                    padding: 0.75rem;
                    font-weight: 700;
                  "
                  >Preprod</span
                >
              </mat-option>
              <mat-option
                [value]="databaseSelected && databaseSelected.Context"
                *ngIf="databaseSelected && databaseSelected.Context === 3"
              >
                <span
                  style="
                    background-color: #4557a2;
                    color: #ffffff;
                    padding: 0.75rem;
                    font-weight: 700;
                  "
                  >Prod</span
                >
              </mat-option>
              <mat-option
                [value]="databaseSelected && databaseSelected.Context"
                *ngIf="databaseSelected && databaseSelected.Context === 4"
              >
                <span
                  style="
                    background-color: #50c63e;
                    color: #ffffff;
                    padding: 0.75rem;
                    font-weight: 700;
                  "
                  >Test</span
                >
              </mat-option>
              <mat-option
                [value]="databaseSelected && databaseSelected.Context"
                *ngIf="databaseSelected && databaseSelected.Context === 5"
              >
                <span
                  style="
                    background-color: #956248;
                    color: #ffffff;
                    padding: 0.75rem;
                    font-weight: 700;
                  "
                  >ProdCopy</span
                >
              </mat-option>
              <mat-option
                [value]="databaseSelected && databaseSelected.Context"
                *ngIf="databaseSelected && databaseSelected.Context === 6"
              >
                <span
                  style="
                    background-color: #f5f334;
                    color: #000;
                    padding: 0.75rem;
                    font-weight: 700;
                  "
                  >Staging</span
                >
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Password </mat-label>
            <input
              matInput
              placeholder="Password"
              [(ngModel)]="databaseSelected && databaseSelected.Password"
              name="Password"
              [disabled]="!editEnabled"
              [type]="showPassword ? 'text' : 'password'"
            />
            <button
              mat-icon-button
              matSuffix
              [disabled]="!editEnabled"
              (click)="togglePassword()"
            >
              <mat-icon>{{
                showPassword ? "visibility" : "visibility_off"
              }}</mat-icon>
            </button>
          </mat-form-field>
          <br />
          <div class="buttons--container" style="margin-bottom: 10%">
            <button
              mat-raised-button
              (click)="editDatabase()"
              [ngClass]="{
                'color-button--save ': editEnabled,
                'margin--right': true
              }"
              [disabled]="!editEnabled"
            >
              Save
            </button>
            <button
              mat-raised-button
              class="btn color-button--default"
              (click)="reinitaliseDatabaseSelectedForm()"
            >
              Cancel
            </button>
          </div>

          <!-- Inform message -->
          <div class="error--info">
            <ng-container *ngIf="showInform">
              <div class="alert alert-danger" role="alert">
                {{ popupMessage }}
              </div>
            </ng-container>
          </div>
        </form>
      </div>
    </ng-container>

    <!-- Error pop-up -->
    <div>
      <app-error-popup
        *ngIf="showPopupError"
        [errorMessage]="popupMessage"
        (close)="closeErrorPopup()"
      ></app-error-popup>
    </div>

    <!-- Delete confirmation -->
    <div>
      <app-confirm-popup
        *ngIf="showDeleteConfirmation"
        [confirmationMessage]="confirmationMessage"
        (confirm)="onDeleteConfirm()"
        (close)="onDeleteClose()"
      ></app-confirm-popup>
    </div>

    <!-- Copy confirmation -->
    <div>
      <app-confirm-popup
        *ngIf="showCopyConfirmation"
        [confirmationMessage]="confirmationMessage"
        (confirm)="onCopyConfirm()"
        (close)="onCopyClose()"
      ></app-confirm-popup>
    </div>
  </div>
</div>
