<div class="container">
  <h1 class="title">Database</h1>
  <button
    mat-raised-button
    color="primary"
    class="btn"
    (click)="showFormCreateDatabase()"
  >
    New
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="editEnable()"
    [disabled]="!isClicked"
    class="btn"
  >
    Edit
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="openDeleteConfirmation()"
    [disabled]="!isClicked"
    class="btn"
  >
    Delete
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="openCopyConfirmation()"
    [disabled]="!isClicked"
    class="btn"
  >
    Copy
  </button>

  <div class="listes">
    <div class="table">
      <hr />
      <mat-card-content>
        <table
          matSort
          mat-table
          [dataSource]="dataSource"
          class="custom-table"
          #tableElement
        >
          <ng-container matColumnDef="databaseId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td
              mat-cell
              *matCellDef="let database"
              (click)="getDatabase(database)"
              (mouseenter)="onMouseEnter(database.databaseId)"
              (mouseleave)="onMouseLeave()"
              [ngClass]="{
                'database--selected' : (database.databaseId == databaseSelected.databaseId),
                '' : !(database.databaseId == databaseSelected.databaseId),
                hovered: database.databaseId == databaseHovered ? isHovered : false,
              }"
            >
              {{ database.databaseId }}
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td
              mat-cell
              *matCellDef="let database"
              (click)="getDatabase(database)"
              (mouseenter)="onMouseEnter(database.databaseId)"
              (mouseleave)="onMouseLeave()"
              [ngClass]="{
                'database--selected' : (database.name == databaseSelected.name),
                '' : !(database.name == databaseSelected.name),
                hovered: database.databaseId == databaseHovered ? isHovered : false,
              }"
            >
              {{ database.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>User Name</th>
            <td
              mat-cell
              *matCellDef="let database"
              (click)="getDatabase(database)"
              (mouseenter)="onMouseEnter(database.databaseId)"
              (mouseleave)="onMouseLeave()"
              [ngClass]="{
                'database--selected' : (database.userName == databaseSelected.userName),
                '' : !(database.userName == databaseSelected.userName),
                hovered: database.databaseId == databaseHovered ? isHovered : false,
              }"
            >
              {{ database.userName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="context">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Context</th>
            <td
              mat-cell
              *matCellDef="let database"
              (click)="getDatabase(database)"
              (mouseenter)="onMouseEnter(database.databaseId)"
              (mouseleave)="onMouseLeave()"
              [ngClass]="{
                'database--selected' : (database.context == databaseSelected.context),
                '' : !(database.context == databaseSelected.context),
                hovered: database.databaseId == databaseHovered ? isHovered : false,
              }"
            >
              <span
                [ngStyle]="{
                  'background-color':
                    database.context == '1'
                      ? '#f5a82a'
                      : database.context == '2'
                      ? '#c125f2'
                      : database.context == '3'
                      ? '#4557a2'
                      : database.context == '4'
                      ? '#50c63e'
                      : database.context == '5'
                      ? '#956248'
                      : database.context == '6'
                      ? '#f5f334'
                      : '',
                  color: '#FFFFFF'
                }"
              >
                {{
                  database.context == "1"
                    ? "Dev"
                    : database.context == "2"
                    ? "Preprod"
                    : database.context == "3"
                    ? "Prod"
                    : database.context == "4"
                    ? "Test"
                    : database.context == "5"
                    ? "ProdCopy"
                    : database.context == "6"
                    ? "Staging"
                    : ""
                }}
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="serverId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Server ID</th>
            <td
              mat-cell
              *matCellDef="let database"
              (click)="getDatabase(database)"
              (mouseenter)="onMouseEnter(database.databaseId)"
              (mouseleave)="onMouseLeave()"
              [ngClass]="{
                'database--selected' : (database.serverId == databaseSelected.serverId),
                '' : !(database.serverId == databaseSelected.serverId),
                hovered: database.databaseId == databaseHovered ? isHovered : false,
              }"
            >
              {{ database.serverId }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let user; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 10]"
          showFirstLastButtons
          [length]="dataSource && dataSource.data.length"
        ></mat-paginator>
      </mat-card-content>
    </div>

    <div class="formCreate">
      <ng-container *ngIf="showFormCreate">
        <button
          mat-raised-button
          class="color-button margin--right"
          (click)="newDatabaseFormDatabase()"
        >
          Save
        </button>
        <button
          mat-raised-button
          color="primary"
          class="btn"
          (click)="showFormCreateDatabase()"
        >
          Cancel
        </button>
        <form class="form--databases">
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="Name"
              required
              [(ngModel)]="formDataCreate.Name"
              name="name"
            />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>UserName</mat-label>
            <input
              matInput
              placeholder="UserName"
              required
              [(ngModel)]="formDataCreate.UserName"
              name="userName"
            />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input
              matInput
              placeholder="Password"
              required
              [(ngModel)]="formDataCreate.Password"
              name="password"
              type="password"
            />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Server ID</mat-label>
            <mat-select [(ngModel)]="formDataCreate.Server" name="Server">
              <mat-option *ngFor="let s of server" [value]="s">
                {{ s.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Context</mat-label>
            <mat-select [(Value)]="formDataCreate.Context" name="Context">
              <mat-option value="1">
                <span style="background-color: #f5a82a; color: #ffffff"
                  >Dev</span
                >
              </mat-option>
              <mat-option value="2">
                <span style="background-color: #c125f2; color: #ffffff"
                  >Preprod</span
                >
              </mat-option>
              <mat-option value="3">
                <span style="background-color: #4557a2; color: #ffffff"
                  >Prod</span
                >
              </mat-option>
              <mat-option value="4">
                <span style="background-color: #50c63e; color: #ffffff"
                  >Test</span
                >
              </mat-option>
              <mat-option value="5">
                <span style="background-color: #956248; color: #ffffff"
                  >ProdCopy</span
                >
              </mat-option>
              <mat-option value="6">
                <span style="background-color: #f5f334; color: #ffffff"
                  >Staging</span
                >
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </ng-container>
    </div>

    <!-------------------------------- -->
    <!-- Access an existing Sys Admin -->
    <!-- Edit an existing Sys Admin   -->
    <!-------------------------------- -->
    <div class="formEdit">
      <ng-container *ngIf="databaseSelected.DatabaseId">
        <button
          mat-raised-button
          (click)="editDatabase()"
          [ngClass]="{ 'color-button': editEnabled, 'margin--right': true }"
          [disabled]="!editEnabled"
        >
          Save
        </button>
        <button
          mat-raised-button
          color="primary"
          class="btn"
          (click)="reinitaliseDatabaseSelectedForm()"
        >
          Cancel
        </button>

        <form class="form--databases">
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="Name"
              required
              [(ngModel)]="databaseSelected.Name"
              name="Name"
              [disabled]="!editEnabled"
            />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>UserName</mat-label>
            <input
              matInput
              placeholder="UserName"
              required
              [(ngModel)]="databaseSelected.UserName"
              name="UserName"
              [disabled]="!editEnabled"
            />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Server ID</mat-label>
            <mat-select
              [(ngModel)]="databaseSelected.ServerId"
              name="Server"
              [disabled]="!editEnabled"
            >
              <mat-option *ngFor="let s of server" [value]="s.serverId">
                {{ s.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Context</mat-label>
            <mat-select
              [(ngModel)]="databaseSelected.Context"
              name="Context"
              [disabled]="!editEnabled"
            >
              <mat-option value="1">
                <span style="background-color: #f5a82a; color: #ffffff"
                  >Dev</span
                >
              </mat-option>
              <mat-option value="2">
                <span style="background-color: #c125f2; color: #ffffff"
                  >Preprod</span
                >
              </mat-option>
              <mat-option value="3">
                <span style="background-color: #4557a2; color: #ffffff"
                  >Prod</span
                >
              </mat-option>
              <mat-option value="4">
                <span style="background-color: #50c63e; color: #ffffff"
                  >Test</span
                >
              </mat-option>
              <mat-option value="5">
                <span style="background-color: #956248; color: #ffffff"
                  >ProdCopy</span
                >
              </mat-option>
              <mat-option value="6">
                <span style="background-color: #f5f334; color: #ffffff"
                  >Staging</span
                >
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input
              matInput
              placeholder="Password"
              required
              [(ngModel)]="databaseSelected.PasswordModified"
              name="Password"
              [disabled]="!editEnabled"
            />
            <mat-hint
              >Leave it blank if you don't want to change the password</mat-hint
            >
          </mat-form-field>
        </form>
      </ng-container>
    </div>

    <!-- Error pop-up -->
    <div>
      <app-error-popup
        *ngIf="showPopupError"
        [errorMessage]="popupMessage"
        (close)="closeErrorPopup()"
      ></app-error-popup>
    </div>

    <!-- Inform pop-up -->
    <div>
      <app-inform-popup
        *ngIf="showInformPopup"
        [informationMessage]="popupMessage"
        [passwordReseted]="passwordReseted"
        (close)="close_inform_popup()"
      ></app-inform-popup>
    </div>

    <!-- Delete confirmation -->
    <div>
      <app-confirm-popup
        *ngIf="showDeleteConfirmation"
        [confirmationMessage]="confirmationMessage"
        (confirm)="onDeleteConfirm()"
        (close)="onDeleteClose()"
      ></app-confirm-popup>
    </div>

    <!-- Copy confirmation -->
    <div>
      <app-confirm-popup
        *ngIf="showCopyConfirmation"
        [confirmationMessage]="confirmationMessage"
        (confirm)="onCopyConfirm()"
        (close)="onCopyClose()"
      ></app-confirm-popup>
    </div>
  </div>
</div>
