/***********************************************************************************/
/**************************** GENERAL **********************************************/
/***********************************************************************************/
.container {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background: #f0f0f0;
  overflow: auto;
  padding: 0;
}

.container--2 {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.logo-first {
  width: 22rem;
  margin-bottom: 5rem;
}

.btn {
  margin-bottom: 1rem;
}
/***********************************************************************************/
/**************************** HEADER ***********************************************/
/***********************************************************************************/
header {
  display: flex;
  align-items: center;
  gap: 7rem;
  height: 8rem;
  padding: 0 1.2rem;
  position: relative;
  background-color: #e0e0e0;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 8rem;
  padding-top: 2rem;
}

.logo {
  width: 15rem;
}

.form {
  width: 25rem;
  font-size: 1rem;
}

.btn--1 {
  color: #647ab9;
  font-weight: 700;
  font-size: 2.2rem;
  text-decoration: none;
  position: relative;
}

.btn--1:hover {
  color: #2b3e75;
  cursor: pointer;
}

.btn--1::after {
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 11px;
  position: absolute;
  font-size: 1.2rem;

  top: -50%;
}

.btn--2 {
  color: #647ab9;
  text-decoration: none;
  font-size: 1.8rem;
  width: 27rem;
  padding: 0.5rem 2.5rem;
}

.btn--2:hover {
  cursor: pointer;
  font-weight: 700;
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.1);
}

.btn--2::after {
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 11px;
  position: absolute;
  font-size: 1.2rem;

  right: 2%;
}

.btn--in-progress::after {
  content: "In Progress";
  white-space: nowrap;
  background-color: orange;
}

.btn--completed::after {
  content: "Completed";
  white-space: nowrap;
  background-color: #3bc9db;
}

.list {
  display: flex;
  align-items: center;
}

.dropdown:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
}

.nav-end {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(0, -50%);
}

.nav-end--2 {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0, -50%);
}

.btn--log-off {
  text-decoration: none;
  background-color: #dc143c;
  padding: 2rem 4rem;
  color: #fff;
  font-weight: 700;
  font-size: 1.6rem;
  border-radius: 11px;
}

.btn--log-off:hover {
  background-color: #c61236;
}

.text {
  font-size: 1.8rem;
  font-weight: 500;
  color: #3d59a7;
}

/***********************************************************************************/
/******************************* HELPER ********************************************/
/***********************************************************************************/
.btn--margin-right {
  margin-right: 6rem;
}

/***********************************************************************************/
/***********************************************************************************/
/***********************************************************************************/
