<div class="container">
  <ng-container *ngIf="showForm && !show2FA">
    <app-login
      [showForm]="showForm"
      (hideForm)="hideLoginForm()"
      (loginData)="onLoginData($event)"
      (allow2FA)="allow2FA()"
    ></app-login>
  </ng-container>

  <ng-container *ngIf="show2FA && !showForm">
    <app-two-fa
      (hide2FA)="hide2FA()"
      (loginData)="onLoginData($event)"
    ></app-two-fa>
  </ng-container>

  <ng-container *ngIf="!show2FA && !showForm">
    <header>
      <a routerLink="/account">
        <picture>
          <img src="../assets/logo.png" class="logo" alt="Logo DAT UpClear" />
        </picture>
      </a>
      <nav class="main-nav">
        <ul class="main-nav-list">
          <li class="list">
            <div ngbDropdown class="d-inline-block dropdown">
              <a
                class="btn--1 btn--in-progress"
                id="dropdownBasic1"
                ngbDropdownToggle
              >
                Domain
              </a>
              <div
                ngbDropdownMenu
                aria-labelledby="dropdownBasic1"
                class="dropdown-menu"
              >
                <a
                  routerLink="/domain-administration"
                  ngbDropdownItem
                  class="btn--2 btn--margin-right btn--in-progress"
                  >Domain Administration</a
                >
                <a
                  routerLink="sys-admin-by-domain"
                  ngbDropdownItem
                  class="btn--2 btn--margin-right btn--completed"
                  >SysAdmin by Domain</a
                >
                <a
                  routerLink="domain-by-sys-admin"
                  ngbDropdownItem
                  class="btn--2 btn--margin-right btn--completed"
                  >Domain by SysAdmin</a
                >
              </div>
            </div>
          </li>
          <li>
            <div ngbDropdown class="d-inline-block dropdown">
              <a
                class="btn--1 btn--in-progress"
                id="dropdownBasic1"
                ngbDropdownToggle
              >
                Infrastructure
              </a>
              <div
                ngbDropdownMenu
                aria-labelledby="dropdownBasic1"
                class="dropdown-menu"
              >
                <a
                  ngbDropdownItem
                  routerLink="database"
                  class="btn--2 btn--in-progress"
                  >Database</a
                >
                <a
                  ngbDropdownItem
                  routerLink="server"
                  class="btn--2 btn--in-progress"
                  >Server</a
                >
                <a
                  ngbDropdownItem
                  routerLink="server-parameter"
                  class="btn--2 btn--margin-right btn--completed"
                  >Server Parameter</a
                >
              </div>
            </div>
          </li>
          <li>
            <a routerLink="/users" class="btn--1 btn--completed">Users</a>
          </li>
          <li>
            <a routerLink="/reports" class="btn--1 btn--completed">Reports</a>
          </li>
          <li>
            <p class="text nav-end">
              Hello <strong>{{ email }}</strong
              >!
            </p>
          </li>
          <li>
            <a href="#" class="btn--log-off nav-end--2" (click)="deconnexion()"
              >Log off</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <router-outlet></router-outlet>
  </ng-container>
</div>
