<div class="modal" *ngIf="showModal">
    <div *ngIf="serverId">
        <div class="modal-content">
            <div class="buttons">

                <span class="close-button" (click)="closeModal()">&times;</span>
                <button class="edit-button" (click)="editServer()">Edit</button>
                <button class="copy-button" (click)="copyServer()">Copy</button>
                <button class="delete-button" (click)="deleteServer()">Delete</button>
            </div>
            <div *ngIf="serverDetails && !editingMode">
                <h2>Server Detail</h2>
                <p><strong>ID:</strong> {{ serverDetails.serverId }}</p>
                <p><strong>Name:</strong> {{ serverDetails.name }}</p>
                <p><strong>userName:</strong> {{ serverDetails.userName }}</p>
                <p><strong>address:</strong> {{ serverDetails.address }}</p>
                <p><strong>createdDate :</strong> {{ serverDetails.createdDate | date }}</p>
                <p><strong>createdBy :</strong> {{ serverDetails.createdBy }}</p>
                <p><strong>modifiedDate :</strong> {{ serverDetails.modifiedDate | date }}</p>
                <p><strong>modifiedBy :</strong> {{ serverDetails.modifiedBy }}</p>  
            </div>   
            <div *ngIf="editingMode">
                <h2>Edit Server Details</h2>
                <div class="edit-field">
                  <label for="serverName">Name:</label>
                  <input type="text" id="Name" [(ngModel)]="serverDetails.name">
                </div>
                <div class="edit-field">
                    <label for="serverName">Address:</label>
                    <input type="text" id="Address" [(ngModel)]="serverDetails.address" >
                  </div>
                <div class="edit-field">
                  <label for="serverName">modifiedBy:</label>
                  <input type="text" id="modifiedBy" [(ngModel)]="serverDetails.modifiedBy">
                </div>
                <button class="edit-confirm-button" (click)="editServerDetails()">Confirm</button>
                <button class="edit-quit-button" (click)="quitEditing()">Quit</button>
            </div>
              
        </div>
    </div>
</div>