@import "@angular/material/prebuilt-themes/indigo-pink.css";

.title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #3d59a7;
}

.btn {
  margin: 8px 8px 8px 0;
  font-weight: 600;
}

.green-text {
  color: green;
  font-size: 3rem;
}

.red-text {
  color: red;
  font-size: 3rem;
}

.container {
  margin: 1rem 0 0 2rem;
}

.table {
  width: 50%;
}

.listes {
  display: flex;
}

/**********************************************************************/
/************************** CREATE NEW FORM ***************************/
/**********************************************************************/

.formCreate {
  margin-left: 25rem;
}

.mat-mdc-raised-button.color-button {
  background-color: #37b24d;
  color: #fff;
  font-size: 1.2rem;
}

.form--servers {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 110%;
  background-color: #6878a5;
  padding: 5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

/**********************************************************************/
/************************ ACCESS A USER *******************************/
/**********************************************************************/

.hovered {
  cursor: pointer;
  background-color: #ddd;
}
.margin--right {
  margin-right: 1rem;
}

.server--selected {
  background-color: #ddd;
  font-weight: 900;
}


/**********************************************************************/
/************************** HELPERS ***********************************/
/**********************************************************************/

.margin--right {
  margin-right: 1rem;
}
