<div class="container">
  <h1 class="title">Server</h1>
  <button
    mat-raised-button
    color="primary"
    class="btn color-button--default"
    (click)="showFormCreateServer()"
  >
    New
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="editEnable()"
    [disabled]="!isClicked"
    class="btn color-button--default"
  >
    Edit
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="openDeleteConfirmation()"
    [disabled]="!isClicked"
    class="btn color-button--default"
  >
    Delete
  </button>

  <div class="listes">
    <div class="table">
      <mat-card-content>
        <table
          matSort
          mat-table
          [dataSource]="dataSource"
          class="custom-table"
          #tableElement
        >
          <ng-container matColumnDef="Server ID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td
              mat-cell
              *matCellDef="let server"
              (click)="getServer(server)"
              (mouseenter)="onMouseEnter(server.serverId)"
              (mouseleave)="onMouseLeave()"
              [ngClass]="{
                'server--selected' : (server.serverId == serverSelected.ServerId),
                '' : !(server.serverId == serverSelected.ServerId),
                hovered: (server.serverId == serverHovered) || (server.serverId == serverClicked) ? isHovered : false,
              }"
            >
              {{ server.serverId }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
            <td
              mat-cell
              *matCellDef="let server"
              (click)="getServer(server)"
              (mouseenter)="onMouseEnter(server.serverId)"
              (mouseleave)="onMouseLeave()"
              [ngClass]="{
                'server--selected' : (server.serverId == serverSelected.ServerId),
                '' : !(server.serverId == serverSelected.ServerId),
                hovered: (server.serverId == serverHovered) || (server.serverId == serverClicked) ? isHovered : false,
              }"
            >
              {{ server.address }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td
              mat-cell
              *matCellDef="let server"
              (click)="getServer(server)"
              (mouseenter)="onMouseEnter(server.serverId)"
              (mouseleave)="onMouseLeave()"
              [ngClass]="{
                'server--selected' : (server.serverId == serverSelected.ServerId),
                '' : !(server.serverId == serverSelected.ServerId),
                hovered: (server.serverId == serverHovered) || (server.serverId == serverClicked) ? isHovered : false,
              }"
            >
              {{ server.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Context">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Context</th>
            <td
              mat-cell
              *matCellDef="let server"
              (click)="getServer(server)"
              (mouseenter)="onMouseEnter(server.serverId)"
              (mouseleave)="onMouseLeave()"
              [ngClass]="{
                'server--selected' : (server.serverId == serverSelected.ServerId),
                '' : !(server.serverId == serverSelected.ServerId),
                hovered: (server.serverId == serverHovered) || (server.serverId == serverClicked) ? isHovered : false,
              }"
            >
              <span
                [ngStyle]="{
                  'background-color':
                    server.context == '1'
                      ? '#f5a82a'
                      : server.context == '2'
                      ? '#c125f2'
                      : server.context == '3'
                      ? '#4557a2'
                      : server.context == '4'
                      ? '#50c63e'
                      : server.context == '5'
                      ? '#956248'
                      : server.context == '6'
                      ? '#f5f334'
                      : '',
                  color: server.context == '6' ? '#000' : '#FFFFFF',
                  padding: '0.75rem',
                  fontWeight: '700',
                }"
              >
                {{
                  server.context == "1"
                    ? "Dev"
                    : server.context == "2"
                    ? "Preprod"
                    : server.context == "3"
                    ? "Prod"
                    : server.context == "4"
                    ? "Test"
                    : server.context == "5"
                    ? "ProdCopy"
                    : server.context == "6"
                    ? "Staging"
                    : ""
                }}
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="Type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
            <td
              mat-cell
              *matCellDef="let server"
              (click)="getServer(server)"
              (mouseenter)="onMouseEnter(server.serverId)"
              (mouseleave)="onMouseLeave()"
              [ngClass]="{
                'server--selected' : (server.serverId == serverSelected.ServerId),
                '' : !(server.serverId == serverSelected.ServerId),
                hovered: (server.serverId == serverHovered) || (server.serverId == serverClicked) ? isHovered : false,
              }"
            >
              {{ server.type }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let user; columns: displayedColumns"></tr>
        </table>

        <mat-paginator style="width:690px"
          [pageSizeOptions]="[5, 10]"
          showFirstLastButtons
          [length]="dataSource && dataSource.data.length"
        ></mat-paginator>
      </mat-card-content>
    </div>

    <div class="formCreate">
      <ng-container *ngIf="showFormCreate">
        <form class="form--servers">
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="Name"
              required
              [(ngModel)]="formDataCreate.Name"
              name="name"
            />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Address</mat-label>
            <input
              matInput
              placeholder="Address"
              required
              [(ngModel)]="formDataCreate.Address"
              name="address"
            />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Context</mat-label>
            <mat-select
              required
              [(ngModel)]="formDataCreate.Context"
              name="Context"
            >
              <mat-option value="1">
                <span
                  style="
                    background-color: #f5a82a;
                    color: #ffffff;
                    padding: 0.75rem;
                    font-weight: 700;
                  "
                  >Dev</span
                >
              </mat-option>
              <mat-option value="2">
                <span
                  style="
                    background-color: #c125f2;
                    color: #ffffff;
                    padding: 0.75rem;
                    font-weight: 700;
                  "
                  >Preprod</span
                >
              </mat-option>
              <mat-option value="3">
                <span
                  style="
                    background-color: #4557a2;
                    color: #ffffff;
                    padding: 0.75rem;
                    font-weight: 700;
                  "
                  >Prod</span
                >
              </mat-option>
              <mat-option value="4">
                <span
                  style="
                    background-color: #50c63e;
                    color: #ffffff;
                    padding: 0.75rem;
                    font-weight: 700;
                  "
                  >Test</span
                >
              </mat-option>
              <mat-option value="5">
                <span
                  style="
                    background-color: #956248;
                    color: #ffffff;
                    padding: 0.75rem;
                    font-weight: 700;
                  "
                  >ProdCopy</span
                >
              </mat-option>
              <mat-option value="6">
                <span
                  style="
                    background-color: #f5f334;
                    color: #ffffff;
                    color: #000;
                    padding: 0.75rem;
                    font-weight: 700;
                  "
                  >Staging</span
                >
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Type</mat-label>
            <mat-select required [(ngModel)]="formDataCreate.Type" name="Type">
              <mat-option *ngFor="let t of types" [value]="t">
                {{ t }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="buttons--container">
            <button
              mat-raised-button
              class="color-button--save margin--right"
              (click)="newServerFormCreateServer()"
            >
              Save
            </button>
            <button
              mat-raised-button
              class="btn color-button--default"
              (click)="showFormCreateServer()"
            >
              Cancel
            </button>
          </div>
        </form>
      </ng-container>
    </div>

    <!---------------------------------->
    <!-- Access an existing Sys Admin -->
    <!-- Edit an existing Sys Admin   -->
    <!---------------------------------->
    <div class="">
      <ng-container *ngIf="serverSelected.ServerId">
        <form class="form--servers">
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="Name"
              [(ngModel)]="serverSelected.Name"
              name="Name"
              [disabled]="!editEnabled"
            />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Address</mat-label>
            <input
              matInput
              placeholder="Address"
              [(ngModel)]="serverSelected.Address"
              name="Address"
              [disabled]="!editEnabled"
            />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Context</mat-label>
            <mat-select
              [(ngModel)]="serverSelected.Context"
              name="Context"
              [disabled]="!editEnabled"
              value="serverSelected.Context"
            >
              <mat-option
                [value]="serverSelected && serverSelected.Context"
                *ngIf="serverSelected && serverSelected.Context === 1"
              >
                <span
                  style="
                    background-color: #f5a82a;
                    color: #ffffff;
                    padding: 0.75rem;
                    font-weight: 700;
                  "
                  >Dev</span
                >
              </mat-option>
              <mat-option
                [value]="serverSelected && serverSelected.Context"
                *ngIf="serverSelected && serverSelected.Context === 2"
              >
                <span
                  style="
                    background-color: #c125f2;
                    color: #ffffff;
                    padding: 0.75rem;
                    font-weight: 700;
                  "
                  >Preprod</span
                >
              </mat-option>
              <mat-option
                [value]="serverSelected && serverSelected.Context"
                *ngIf="serverSelected && serverSelected.Context === 3"
              >
                <span
                  style="
                    background-color: #4557a2;
                    color: #ffffff;
                    padding: 0.75rem;
                    font-weight: 700;
                  "
                  >Prod</span
                >
              </mat-option>
              <mat-option
                [value]="serverSelected && serverSelected.Context"
                *ngIf="serverSelected && serverSelected.Context === 4"
              >
                <span
                  style="
                    background-color: #50c63e;
                    color: #ffffff;
                    padding: 0.75rem;
                    font-weight: 700;
                  "
                  >Test</span
                >
              </mat-option>
              <mat-option
                [value]="serverSelected && serverSelected.Context"
                *ngIf="serverSelected && serverSelected.Context === 5"
              >
                <span
                  style="
                    background-color: #956248;
                    color: #ffffff;
                    padding: 0.75rem;
                    font-weight: 700;
                  "
                  >ProdCopy</span
                >
              </mat-option>
              <mat-option
                [value]="serverSelected && serverSelected.Context"
                *ngIf="serverSelected && serverSelected.Context === 6"
              >
                <span
                  style="
                    background-color: #f5f334;
                    color: #000;
                    padding: 0.75rem;
                    font-weight: 700;
                  "
                  >Staging</span
                >
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Type</mat-label>
            <mat-select
              [(ngModel)]="serverSelected.Type"
              name="Type"
              [disabled]="!editEnabled"
            >
              <mat-option *ngFor="let t of types" [value]="t">
                {{ t }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="buttons--container" style="margin-bottom: 10%">
            <button
              mat-raised-button
              (click)="editServer()"
              [ngClass]="{
                'color-button--save ': editEnabled,
                'margin--right': true
              }"
              [disabled]="!editEnabled"
            >
              Save
            </button>
            <button
              mat-raised-button
              class="btn color-button--default"
              (click)="reinitaliseServerSelectedForm()"
            >
              Cancel
            </button>
          </div>
        </form>
      </ng-container>

      <div>
        <app-error-popup
          *ngIf="showPopupError"
          [errorMessage]="popupMessage"
          (close)="closeErrorPopup()"
        ></app-error-popup>
      </div>

      <!-- Delete confirmation -->
      <app-confirm-popup
        *ngIf="showDeleteConfirmation"
        [confirmationMessage]="confirmationMessage"
        (confirm)="onDeleteConfirm()"
        (close)="onDeleteClose()"
      ></app-confirm-popup>
    </div>
  </div>
</div>
